body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: #333;
}

.filters {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters select {
    margin-right: 20px;
    padding: 5px;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

img {
    max-width: 50px;
    height: auto;
}

td img {
    max-width: 30px;
    height: auto;
}

tbody tr:hover {
    background-color: #f1f1f1;
}
